<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-demo(titrePage=~{:: title}, contenuPage=~{:: .center-main}, ressourcesSupp=~{})}">
    <head>
        <title data-th-text="#{index.title}"></title>
    </head>
    <body>
        <main class="center-main">
            <section class="center-section">
                <h1 style="text-align:center" data-th-text="#{index.h1}"></h1>
                <h2 style="text-align:center" data-th-text="#{index.h2}"></h2>
            </section>
        </main>
    </body>
</html>